html,body {
    height:100%;width:100% } 
    
    @media screen and (max-width:800px) {
        body {
          background-size: cover;
          background-attachment:fixed }
        }

body {
    display: flex;
    flex-direction: column;
    background: url('./escolhas/fundo.jpg') no-repeat center center fixed;
    background-color: black;
} 

.logo {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.social {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    background-color:rgba(54, 60, 146, 0.788);
    border-radius: 10px;
    color: rgb(170, 167, 167);
  }
  
  .fa:hover {
      opacity: 0.7;
  }

h3 {
    background-color:rgba(54, 65, 146, 0.657);
    border-radius: 10px;
    color: rgb(170, 167, 167);
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    background-color:rgba(54, 60, 146, 0.777);
    border-radius: 10px;
    color: rgb(170, 167, 167);
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    width: 200px;
}

.center {
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 20px;
    color: rgb(170, 167, 167);
}

.center2 {
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 20px;
    color: rgb(170, 167, 167);
}

.center3 {
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 20px;
    color: rgb(170, 167, 167);
}

.center4 {
    background-color: rgba(85, 81, 128, 0);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 20px;
    color: rgb(170, 167, 167);
}

h2 {
    display: flex;
    justify-content: center;
}